 .logo{
    display:flex;
    border-bottom-style: solid;
    width:1100px;
    border-width: 1px;
    border-color: #054979;
   margin: 80px auto 0px auto;
   
}
.logo-button{
    display: flex;
    margin-bottom:50px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}